Repository darkroomengineering/satus: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: bun biome check --max-diagnostics=200 --write --unsafe {staged_files}
  stage_fixed: true

typecheck:
  run: bunx tsgo --noEmit --incremental false
  stage_fixed: false

fix: improve navbar indentation with clearer hierarchy
  components/layout/header/index.tsx
Due: biome, typecheck

fix: navbar hierarchy - root/1-level/2-level indentation
  components/layout/header/index.tsx
Due: biome, typecheck

feat: improve navbar and components page layout
  app/(examples)/components/page.tsx
  app/(examples)/layout.tsx
  components/layout/header/index.tsx
Due: biome, typecheck

docs: improve template documentation and homepage content
  README.md
  app/(marketing)/_sections/features/index.tsx
  app/(marketing)/_sections/value-props/index.tsx
  app/README.md
  components/layout/footer/index.tsx
  lib/styles/README.md
Due: biome, typecheck

fix useSortedClasses on save
  biome.json
Due: none

deps update
  bun.lock
  package.json
Due: none

perf: DX improvements and Image Server Component optimization
  app/layout.tsx
  components/layout/README.md
  components/layout/wrapper/index.tsx
  components/ui/image/index.tsx
  lib/features/index.tsx
  lib/integrations/sanity/client.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
  package.json
Due: biome, typecheck

chore: add test CI, doctor script, and documentation
  .github/workflows/test.yml
  app/api/README.md
  components/effects/README.md
  lib/features/README.md
  lib/scripts/doctor.ts
  package.json
Due: biome, typecheck

Potential fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/test.yml
Due: none

perf: DX improvements, Server Component optimization, and documentation (#90)
  .github/workflows/test.yml
  app/api/README.md
  app/layout.tsx
  components/effects/README.md
  components/layout/README.md
  components/layout/wrapper/index.tsx
  components/ui/image/index.tsx
  lib/features/README.md
  lib/features/index.tsx
  lib/integrations/sanity/client.ts
  lib/scripts/doctor.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
  package.json
Due: biome, typecheck

chore: update dependencies and remove dead code
  bun.lock
  lib/utils/strings.ts
  package.json
Due: biome, typecheck

fix: add missing .pending CSS class to form submit button
  components/ui/form/form.module.css
Due: biome

feat: add useSyncExternalStore hooks for browser APIs
  components/ui/real-viewport/index.tsx
  lib/hooks/index.ts
  lib/hooks/use-sync-external.ts
Due: biome, typecheck

docs: update hooks documentation and integrate useSyncExternalStore
  components/ui/real-viewport/README.md
  lib/hooks/README.md
  lib/hooks/use-device-detection.ts
Due: biome, typecheck

perf: optimize useViewport selector to prevent unnecessary re-renders
  components/ui/real-viewport/index.tsx
Due: biome, typecheck

feat: standardize context interfaces and fix example pages
  app/(examples)/hubspot/_components/subscribe/index.tsx
  app/(examples)/r3f/page.tsx
  app/(examples)/shopify/_components/product/index.tsx
  app/(examples)/shopify/_components/show-cart/index.tsx
  components/layout/theme/index.tsx
  components/ui/form/fields/index.tsx
  components/ui/form/index.tsx
  components/ui/form/types.ts
  lib/hooks/index.ts
  lib/integrations/shopify/cart/add-to-cart/index.tsx
  lib/integrations/shopify/cart/cart-context.tsx
  lib/integrations/shopify/cart/modal/index.tsx
  lib/utils/context.ts
Due: biome, typecheck

fix: convert Image component to Client Component for event handlers
  components/ui/image/index.tsx
Due: biome, typecheck

feat: add WebGPU support with automatic WebGL fallback
  .env.example
  bun.lock
  lib/features/index.tsx
  lib/hooks/use-device-detection.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
  lib/webgl/components/global-canvas/index.tsx
  lib/webgl/utils/create-renderer.ts
  lib/webgl/utils/gpu-detection.ts
Due: biome, typecheck

refactor: remove NEXT_PUBLIC_ENABLE_WEBGL env var requirement
  .env.example
  app/(examples)/r3f/page.tsx
  lib/features/index.tsx
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
  lib/webgl/components/global-canvas/index.tsx
Due: biome, typecheck

docs: update READMEs with WebGPU support and simplified usage
  lib/features/README.md
  lib/webgl/README.md
Due: none

feat: security hardening and code cleanup
  .env.example
  bun.lock
  components/ui/form/types.ts
  components/ui/not-configured/index.tsx
  lib/integrations/README.md
  lib/integrations/check-integration.ts
  lib/integrations/mailchimp/README.md
  lib/integrations/mandrill/README.md
  lib/integrations/mandrill/action.ts
  lib/integrations/mandrill/index.ts
  lib/integrations/shopify/cart/actions.ts
  lib/integrations/shopify/customer/actions.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/prepare-handoff.ts
  lib/scripts/setup-project.test.ts
  lib/scripts/setup-project.ts
  lib/utils/README.md
  lib/utils/performance.ts
  package.json
Due: biome, typecheck

feat(webgl): add Three.js best practices utilities
  lib/webgl/components/global-canvas/global-canvas.module.css
  lib/webgl/components/global-canvas/index.tsx
  lib/webgl/components/perf-monitor/index.tsx
  lib/webgl/hooks/use-disposable.ts
  lib/webgl/index.ts
  lib/webgl/utils/context-loss-handler.ts
  lib/webgl/utils/create-renderer.ts
Due: biome, typecheck

feat(webgl): add texture caching and mobile shader precision
  lib/webgl/index.ts
  lib/webgl/utils/create-renderer.ts
  lib/webgl/utils/gpu-detection.ts
  lib/webgl/utils/texture-cache.ts
Due: biome, typecheck

feat(webgl): add SMAA and tone mapping to PostProcessing
  lib/webgl/components/global-canvas/index.tsx
  lib/webgl/components/postprocessing/index.ts
Due: biome, typecheck

feat(webgl): add Draco/KTX2 compressed asset loaders
  lib/webgl/index.ts
  lib/webgl/utils/loaders.ts
Due: biome, typecheck

feat(webgl): add TSL migration guide and examples
  lib/webgl/docs/tsl-migration.md
  lib/webgl/index.ts
  lib/webgl/utils/tsl/index.ts
Due: biome, typecheck

feat(examples): enhance r3f example to showcase best practices
  app/(examples)/r3f/_components/box/webgl.tsx
  app/(examples)/r3f/_components/gltf-model/index.tsx
  app/(examples)/r3f/_components/gltf-model/webgl.tsx
  app/(examples)/r3f/_components/perf-monitor-wrapper.tsx
  app/(examples)/r3f/_components/textured-plane/index.tsx
  app/(examples)/r3f/_components/textured-plane/webgl.tsx
  app/(examples)/r3f/page.tsx
Due: biome, typecheck

feat(webgl): improve GLTF model handling and add WebGPU fallbacks
  app/(examples)/r3f/_components/gltf-model/index.tsx
  app/(examples)/r3f/_components/gltf-model/webgl.tsx
  app/(examples)/r3f/_components/textured-plane/index.tsx
  app/(examples)/r3f/page.tsx
  components/effects/animated-gradient/material.ts
  lib/scripts/prepare-handoff.ts
  lib/webgl/components/flowmap-provider/index.tsx
  lib/webgl/utils/flowmaps/index.tsx
  lib/webgl/utils/fluid/index.tsx
  public/examples/placeholder.glb
  public/examples/placeholder.jpg
Due: biome, typecheck

fix: update dependencies and fix memory leaks across WebGL subsystem
  bun.lock
  components/effects/animated-gradient/webgl.tsx
  components/ui/scrollbar/index.tsx
  lib/webgl/components/image/webgl.tsx
  lib/webgl/components/postprocessing/index.ts
  lib/webgl/utils/flowmaps/flowmap-sim.ts
  lib/webgl/utils/flowmaps/index.tsx
  lib/webgl/utils/fluid/index.tsx
  package.json
Due: biome, typecheck

docs: add LLM-friendliness documentation for agent-assisted development
  CLAUDE.md
  COMPONENTS.md
  PATTERNS.md
  README.md
Due: none

feat: add test coverage, WebGL JSDoc, and docs validation
  lib/scripts/check-docs.ts
  lib/scripts/doctor.ts
  lib/utils/animation.test.ts
  lib/utils/context.test.ts
  lib/utils/easings.test.ts
  lib/utils/fetch.test.ts
  lib/utils/rate-limit.test.ts
  lib/webgl/components/flowmap-provider/index.tsx
  lib/webgl/components/preload/index.ts
  lib/webgl/components/tunnel/index.tsx
  lib/webgl/hooks/use-webgl-rect.ts
  lib/webgl/store.ts
  package.json
Due: biome, typecheck

feat: add Zod validation, proxy.ts, and integration hardening
  COMPONENTS.md
  app/(examples)/components/_components/form-demo-action.ts
  bun.lock
  components/ui/form/hook.ts
  components/ui/form/types.ts
  lib/env.ts
  lib/integrations/check-integration.ts
  lib/integrations/hubspot/action.test.ts
  lib/integrations/hubspot/action.ts
  lib/integrations/hubspot/fetch-form.ts
  lib/integrations/mailchimp/action.ts
  lib/integrations/registry.ts
  lib/integrations/sanity/env.ts
  lib/integrations/shopify/cart/actions.test.ts
  lib/integrations/shopify/cart/actions.ts
  lib/integrations/shopify/customer/actions.test.ts
  lib/integrations/shopify/customer/actions.ts
  lib/integrations/shopify/index.ts
  lib/scripts/doctor.ts
  lib/utils/validation.test.ts
  lib/utils/validation.ts
  lib/utils/zodToValidator.test.ts
  package.json
  proxy.ts
Due: biome, typecheck

docs: update documentation and marketing copy for Zod validation and proxy.ts
  .cursor/rules/architecture.mdc
  .cursor/rules/integrations.mdc
  .cursor/rules/main.mdc
  .github/PULL_REQUEST_TEMPLATE.md
  ARCHITECTURE.md
  CLAUDE.md
  PATTERNS.md
  PROD-README.md
  app/(marketing)/_sections/features/index.tsx
  app/(marketing)/_sections/value-props/index.tsx
  lib/README.md
  lib/integrations/README.md
  lib/integrations/hubspot/README.md
  lib/integrations/mailchimp/README.md
  lib/integrations/sanity/README.md
  lib/integrations/shopify/README.md
  lib/utils/README.md
  package.json
Due: biome, typecheck

fix: apply aspectRatio as CSS style on Image component to prevent CLS
  components/ui/image/index.tsx
Due: biome, typecheck

chore: add .nvmrc/.node-version and consolidate path aliases
  .node-version
  .nvmrc
  tsconfig.json
Due: none

refactor: clean up codebase inconsistencies
  components/ui/form/hook.ts
  components/ui/not-configured/index.tsx
  lib/hooks/index.ts
  lib/hooks/use-scroll-trigger.ts
  lib/hooks/use-sync-external.ts
  lib/hooks/use-transform.tsx
  lib/integrations/hubspot/embed/index.tsx
  lib/utils/context.test.ts
  lib/utils/context.ts
  lib/webgl/hooks/use-webgl-rect.ts
Due: biome, typecheck

refactor: relax exactOptionalPropertyTypes
  tsconfig.json
Due: none

chore: simplify .env.example
  .env.example
Due: none

feat: auto-clean marketing homepage in setup:project
  lib/scripts/setup-project.ts
Due: biome, typecheck

refactor: split Shopify index.ts into focused modules
  lib/integrations/shopify/cart-operations.ts
  lib/integrations/shopify/client.ts
  lib/integrations/shopify/collections.ts
  lib/integrations/shopify/index.ts
  lib/integrations/shopify/menu.ts
  lib/integrations/shopify/pages.ts
  lib/integrations/shopify/products.ts
  lib/integrations/shopify/webhooks.ts
Due: biome, typecheck

Path conditions:
  biome: any of: *.{js,mjs,ts,jsx,tsx,css,scss}
  typecheck: any of: *.{ts,tsx}
