Repository darkroomengineering/satus: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: bun biome check --max-diagnostics=200 --write --unsafe {staged_files}
  stage_fixed: true

typecheck:
  run: bunx tsgo --noEmit --incremental false
  stage_fixed: false

chore(deps): fold dependabot bumps (#506)
  bun.lock
  package.json
Due: none

docs: merge duplicate Unreleased changelog sections, record the dependency pass
  CHANGELOG.md
Due: none

chore(deps): bump next to 16.3.8 for the next/og RCE advisory
  CHANGELOG.md
  bun.lock
  package.json
Due: none

chore(deps): bump next to 16.3.8 for the next/og RCE advisory (#508)
  CHANGELOG.md
  bun.lock
  package.json
Due: none

docs: merge duplicate Unreleased changelog sections, record the dependency pass (#507)
  CHANGELOG.md
Due: none

test: disable Base UI exit animations under happy-dom so Tabs tests stop timing out
  CHANGELOG.md
  lib/scripts/test-setup.ts
Due: biome, typecheck

test: disable Base UI exit animations under happy-dom so Tabs tests stop timing out (#509)
  CHANGELOG.md
  lib/scripts/test-setup.ts
Due: biome, typecheck

ci: hold @sanity/client majors until next-sanity depends on v8
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/sanity-client-v8.yml
  CHANGELOG.md
  lib/scripts/integration-bundles.ts
Due: biome, typecheck

ci: hold @sanity/client majors until next-sanity depends on v8 (#510)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/sanity-client-v8.yml
  CHANGELOG.md
  lib/scripts/integration-bundles.ts
Due: biome, typecheck

fix(setup): remove @sanity/client with the rest of the Sanity bundle
  CHANGELOG.md
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
Due: biome, typecheck

chore(sanity): open the studio on structure, drop the vision tool
  CHANGELOG.md
  bun.lock
  lib/integrations/sanity/README.md
  lib/integrations/sanity/sanity.config.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
  package.json
Due: biome, typecheck

fix(deps): dedupe @sanity/ui so visual-editing's css builds
  bun.lock
Due: none

chore(sanity): open the studio on structure, drop the vision tool (#517)
  CHANGELOG.md
  bun.lock
  lib/integrations/sanity/README.md
  lib/integrations/sanity/sanity.config.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
  package.json
Due: biome, typecheck

fix(setup): remove @sanity/client with the rest of the Sanity bundle (#516)
  CHANGELOG.md
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
Due: biome, typecheck

feat(sanity): studio-only CSP, frame-src self, singleton navigation and sidebar icons
  CHANGELOG.md
  SECURITY.md
  bun.lock
  lib/integrations/csp.ts
  lib/integrations/sanity/README.md
  lib/integrations/sanity/sanity.config.ts
  lib/integrations/sanity/schemas/article.ts
  lib/integrations/sanity/schemas/link.ts
  lib/integrations/sanity/schemas/metadata.ts
  lib/integrations/sanity/schemas/navigation.ts
  lib/integrations/sanity/schemas/page.ts
  lib/integrations/sanity/schemas/richText.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
  lib/scripts/templates/deployment-checklist.ts
  next.config.ts
  package.json
Due: biome, typecheck

docs(changelog): note the navigation singleton id for existing forks
  CHANGELOG.md
Due: none

fix(sanity): standalone studio CLI runs, /studio opts out of instant navigation checks
  .gitignore
  CHANGELOG.md
  app/studio/layout.tsx
  bun.lock
  lib/integrations/sanity/README.md
  lib/integrations/sanity/package.json
  lib/integrations/sanity/studio-manifest.test.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
  oxfmt.config.ts
  oxlint.config.ts
  package.json
Due: biome, typecheck

chore(deps): bump oxfmt from 0.70.0 to 0.71.0
  bun.lock
  package.json
Due: none

feat(sanity): studio CSP, Presentation on preview deploys, singleton navigation (#518)
  .gitignore
  CHANGELOG.md
  SECURITY.md
  app/studio/layout.tsx
  bun.lock
  lib/integrations/csp.ts
  lib/integrations/sanity/README.md
  lib/integrations/sanity/package.json
  lib/integrations/sanity/sanity.config.ts
  lib/integrations/sanity/schemas/article.ts
  lib/integrations/sanity/schemas/link.ts
  lib/integrations/sanity/schemas/metadata.ts
  lib/integrations/sanity/schemas/navigation.ts
  lib/integrations/sanity/schemas/page.ts
  lib/integrations/sanity/schemas/richText.ts
  lib/integrations/sanity/studio-manifest.test.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/setup-project.test.ts
  lib/scripts/templates/deployment-checklist.ts
  next.config.ts
  oxfmt.config.ts
  oxlint.config.ts
  package.json
Due: biome, typecheck

feat(lint): add hamo oxlint plugin for raw layout reads and observers
  oxlint.config.ts
  tools/oxlint/hamo/index.ts
  tools/oxlint/hamo/rules/no-raw-layout-read.ts
  tools/oxlint/hamo/rules/no-raw-observer.ts
  tools/oxlint/hamo/shared/global-reference.ts
  tsconfig.json
Due: biome, typecheck

feat(lint): ban manual memoisation, hamo useMediaQuery and next/image imports
  oxlint.config.ts
Due: biome, typecheck

feat(lint): ratchet lint-disable directives per rule in check
  bun.lock
  lib/scripts/check-lint-disables.ts
  lint-disables.json
  package.json
Due: biome, typecheck

refactor: route layout reads and observers through hamo
  COMPONENTS.md
  components/ui/image/index.tsx
  components/ui/real-viewport/index.tsx
  lib/dev/grid/index.tsx
  lib/hooks/README.md
  lib/hooks/index.ts
  lib/hooks/use-device-detection.ts
  lib/hooks/use-prefetch.ts
  lib/hooks/use-reveal.ts
  lib/hooks/use-sync-external.ts
  lib/webgl/hooks/use-webgl-rect.ts
  lint-disables.json
  tools/oxlint/hamo/rules/no-raw-observer.ts
Due: biome, typecheck

perf(fold): write transform and opacity on the moving nodes
  components/ui/fold/fold.module.css
  components/ui/fold/index.tsx
Due: biome, typecheck

perf(progress-text): give scrubbed words their own layer
  components/effects/progress-text/progress-text.module.css
Due: biome

docs: document hamo rules, import bans and the lint-disable ratchet
  AGENTS.md
Due: none

feat(deps)!: upgrade lenis to 2.0.0-dev.5
  CHANGELOG.md
  bun.lock
  components/layout/lenis/index.tsx
  components/ui/scrollbar/index.tsx
  lib/styles/css/global.css
  package.json
Due: biome, typecheck

docs(changelog): record lint guards, hook changes and scroll perf fixes
  CHANGELOG.md
Due: none

feat(lint): count TypeScript suppression directives in the ratchet
  AGENTS.md
  CHANGELOG.md
  lib/scripts/check-lint-disables.ts
Due: biome, typecheck

style: trim verbose comments
  components/effects/progress-text/progress-text.module.css
  components/layout/lenis/index.tsx
  components/ui/fold/fold.module.css
  components/ui/fold/index.tsx
  components/ui/real-viewport/index.tsx
  lib/hooks/use-prefetch.ts
  lib/hooks/use-reveal.ts
  lib/hooks/use-sync-external.ts
  lib/scripts/check-lint-disables.ts
  oxlint.config.ts
Due: biome, typecheck

feat: hamo lint guards, disable ratchet, scroll perf, Lenis v2 (#521)
  AGENTS.md
  CHANGELOG.md
  COMPONENTS.md
  bun.lock
  components/effects/progress-text/progress-text.module.css
  components/layout/lenis/index.tsx
  components/ui/fold/fold.module.css
  components/ui/fold/index.tsx
  components/ui/image/index.tsx
  components/ui/real-viewport/index.tsx
  components/ui/scrollbar/index.tsx
  lib/dev/grid/index.tsx
  lib/hooks/README.md
  lib/hooks/index.ts
  lib/hooks/use-device-detection.ts
  lib/hooks/use-prefetch.ts
  lib/hooks/use-reveal.ts
  lib/hooks/use-sync-external.ts
  lib/scripts/check-lint-disables.ts
  lib/styles/css/global.css
  lib/webgl/hooks/use-webgl-rect.ts
  lint-disables.json
  oxlint.config.ts
  package.json
  tools/oxlint/hamo/index.ts
  tools/oxlint/hamo/rules/no-raw-layout-read.ts
  tools/oxlint/hamo/rules/no-raw-observer.ts
  tools/oxlint/hamo/shared/global-reference.ts
  tsconfig.json
Due: biome, typecheck

fix: make type follow browser zoom and scope reduced motion to movement
  AGENTS.md
  components/ui/accordion/accordion.module.css
  components/ui/alert-dialog/alert-dialog.module.css
  components/ui/form/form.module.css
  components/ui/menu/menu.module.css
  components/ui/not-found-view/not-found-view.module.css
  components/ui/select/select.module.css
  components/ui/switch/switch.module.css
  components/ui/toast/toast.module.css
  components/ui/tooltip/tooltip.module.css
  lib/integrations/hubspot/embed/form.module.css
  lib/integrations/shopify/cart/add-to-cart/add-to-cart.module.css
  lib/integrations/shopify/cart/modal/modal.module.css
  lib/styles/config.ts
  lib/styles/css/global.css
  lib/styles/css/reset.css
  lib/styles/css/root.css
  lib/styles/css/tailwind.css
  lib/styles/layout.mjs
  lib/styles/scripts/generate-root.ts
  lib/styles/scripts/generate-scale.test.ts
  lib/styles/scripts/generate-scale.ts
  lib/styles/scripts/generate-tailwind.ts
  lib/styles/scripts/utils.ts
Due: biome, typecheck

fix: keep reveal stagger when motion is allowed
  lib/styles/css/global.css
Due: biome

fix: route hand-written font sizes through the zoom-safe text unit
  AGENTS.md
  app/(site)/page.module.css
  components/layout/footer/footer.module.css
  components/layout/header/header.module.css
  components/ui/form/form.module.css
  components/ui/not-configured/not-configured.module.css
  components/ui/not-found-view/not-found-view.module.css
  lib/integrations/hubspot/embed/form.module.css
  lib/integrations/shopify/cart/modal/modal.module.css
  lib/styles/README.md
  lib/styles/css/tailwind.css
  lib/styles/scripts/README.md
  lib/styles/scripts/generate-scale.ts
  lib/styles/scripts/postcss-functions.mjs
  lib/styles/scripts/postcss-functions.test.ts
Due: biome, typecheck

test: assert dr-leading-* scales with dr-text-* under zoom
  lib/styles/scripts/generate-scale.test.ts
Due: biome, typecheck

feat: env:setup sends the dotenvx key to github and vercel
  lib/scripts/env-setup.test.ts
  lib/scripts/env-setup.ts
Due: biome, typecheck

feat: load env files encrypted with dotenvx
  .github/workflows/ci.yml
  .gitignore
  bun.lock
  bunfig.toml
  lib/env-files.test.ts
  lib/env.ts
  lib/scripts/doctor.ts
  lib/seo/site.ts
  package.json
Due: biome, typecheck

docs: env setup with dotenvx across readme, handoff and starter screens
  .env.example
  AGENTS.md
  ARCHITECTURE.md
  CHANGELOG.md
  PROD-README.md
  README.md
  app/(site)/page.tsx
  components/ui/not-configured/index.tsx
  lib/scripts/setup-project.ts
Due: biome, typecheck

fix: ci builds without the dotenvx key
  .github/workflows/ci.yml
  lib/env.ts
Due: biome, typecheck

fix: env:setup targets vercel only and copies keys without printing
  lib/scripts/env-setup.test.ts
  lib/scripts/env-setup.ts
Due: biome, typecheck

Path conditions:
  biome: any of: *.{js,mjs,ts,jsx,tsx,css,scss}
  typecheck: any of: *.{ts,tsx}
