Repository darkroomengineering/satus: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: bun biome check --max-diagnostics=200 --write --unsafe {staged_files}
  stage_fixed: true

typecheck:
  run: bunx tsgo --noEmit --incremental false
  stage_fixed: false

docs: keyless ci, env:setup --copy and base url caveats
  .env.example
  CHANGELOG.md
  README.md
  app/(site)/page.tsx
  lib/seo/site.ts
Due: biome, typecheck

fix: check staged env files, nested ones and the next-env override
  .gitignore
  bun.lock
  lefthook.yml
  lib/env-files.test.ts
  package.json
Due: biome, typecheck

docs: README env section matches no-key CI and production key
  README.md
Due: none

feat: encrypted env files with dotenvx (#524)
  .env.example
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  ARCHITECTURE.md
  CHANGELOG.md
  PROD-README.md
  README.md
  app/(site)/page.tsx
  bun.lock
  bunfig.toml
  components/ui/not-configured/index.tsx
  lefthook.yml
  lib/env-files.test.ts
  lib/env.ts
  lib/scripts/doctor.ts
  lib/scripts/env-setup.test.ts
  lib/scripts/env-setup.ts
  lib/scripts/setup-project.ts
  lib/seo/site.ts
  package.json
Due: biome, typecheck

fix: doctor and prepare on Windows
  lib/scripts/doctor.ts
  lib/scripts/prepare.ts
Due: biome, typecheck

fix: doctor and prepare on Windows (#525)
  lib/scripts/doctor.ts
  lib/scripts/prepare.ts
Due: biome, typecheck

fix: keep fades under reduced motion and gate only movement
  AGENTS.md
  ARCHITECTURE.md
  components/layout/README.md
  components/ui/accordion/accordion.module.css
  components/ui/alert-dialog/alert-dialog.module.css
  components/ui/form/form.module.css
  components/ui/menu/menu.module.css
  components/ui/not-found-view/not-found-view.module.css
  components/ui/select/select.module.css
  components/ui/switch/switch.module.css
  components/ui/toast/toast.module.css
  components/ui/tooltip/tooltip.module.css
  lib/integrations/hubspot/embed/form.module.css
  lib/integrations/shopify/cart/add-to-cart/add-to-cart.module.css
  lib/integrations/shopify/cart/modal/modal.module.css
  lib/styles/README.md
  lib/styles/css/global.css
  lib/styles/css/root.css
  lib/styles/scripts/generate-root.ts
Due: biome, typecheck

fix: gate the dev command palette scale behind reduced motion
  lib/dev/cmdo.tsx
Due: biome, typecheck

fix: size body to the small viewport and let flex children shrink
  AGENTS.md
  lib/styles/css/global.css
  lib/styles/css/reset.css
Due: biome

docs: changelog entry for the reduced-motion policy
  CHANGELOG.md
Due: none

test: view-transition crossfade runs under reduced motion
  e2e/view-transitions.e2e.ts
Due: biome, typecheck

fix: keep fades under reduced motion and gate only movement (#523)
  AGENTS.md
  ARCHITECTURE.md
  CHANGELOG.md
  components/layout/README.md
  components/ui/accordion/accordion.module.css
  components/ui/alert-dialog/alert-dialog.module.css
  components/ui/form/form.module.css
  components/ui/menu/menu.module.css
  components/ui/not-found-view/not-found-view.module.css
  components/ui/select/select.module.css
  components/ui/switch/switch.module.css
  components/ui/toast/toast.module.css
  components/ui/tooltip/tooltip.module.css
  e2e/view-transitions.e2e.ts
  lib/dev/cmdo.tsx
  lib/integrations/hubspot/embed/form.module.css
  lib/integrations/shopify/cart/add-to-cart/add-to-cart.module.css
  lib/integrations/shopify/cart/modal/modal.module.css
  lib/styles/README.md
  lib/styles/css/global.css
  lib/styles/css/reset.css
  lib/styles/css/root.css
  lib/styles/scripts/generate-root.ts
Due: biome, typecheck

Path conditions:
  biome: any of: *.{js,mjs,ts,jsx,tsx,css,scss}
  typecheck: any of: *.{ts,tsx}
