Repository darkroomengineering/satus: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: bun biome check --max-diagnostics=200 --write --unsafe {staged_files}
  stage_fixed: true

typecheck:
  run: bunx tsgo --noEmit --incremental false
  stage_fixed: false

refactor: rename transition modes from wait/overlap to swap/stack
  example/root.tsx
  lib/transitions/README.md
  lib/transitions/context.ts
  lib/transitions/transition-router.tsx
  lib/transitions/use-transition-state.ts
Due: biome, typecheck

docs: add architecture doc, fix stale infoRef and timeout bugs
  lib/transitions/ARCHITECTURE.md
  lib/transitions/registry.ts
  lib/transitions/transition-router.tsx
Due: biome, typecheck

refactor: replace stylesheet MutationObserver with cssCodeSplit: false
  lib/transitions/ARCHITECTURE.md
  lib/transitions/transition-router.tsx
  lib/transitions/use-stylesheet-fix.ts
  vite.config.ts
Due: biome, typecheck

feat: add static i18n build system
  .gitignore
  lib/static-i18n/README.md
  lib/static-i18n/build.ts
  lib/static-i18n/config.ts
  lib/static-i18n/index.ts
  lib/static-i18n/schema.ts
  lib/static-i18n/translations/de.json
  lib/static-i18n/translations/en.json
  lib/static-i18n/translations/ja.json
  lib/static-i18n/virtual.d.ts
  lib/static-i18n/vite-plugin.ts
  vite.config.ts
Due: biome, typecheck

feat: add GitHub Actions template for static i18n releases
  lib/static-i18n/release.yml
Due: none

chore: bump deps to current minor/patch versions
  bun.lock
  package.json
Due: none

refactor: lift NEXT_PUBLIC_BASE_URL into env singleton + svg module declaration
  app/layout.tsx
  app/robots.ts
  app/sitemap.ts
  lib/utils/metadata.ts
  lib/utils/types.d.ts
Due: biome, typecheck

refactor: small cleanups — gsap import, Link derived state, generate-page collapse
  components/layout/lenis/scroll-trigger.tsx
  components/ui/link/index.tsx
  lib/scripts/generate-page.ts
Due: biome, typecheck

refactor: split Shopify revalidate route handler from index.ts
  lib/integrations/shopify/index.ts
  lib/integrations/shopify/revalidate.ts
Due: biome, typecheck

refactor: extract runFormAction factory for Mailchimp + HubSpot
  lib/integrations/hubspot/action.ts
  lib/integrations/mailchimp/action.ts
  lib/integrations/mailchimp/index.ts
  lib/integrations/mailchimp/mailchimp-client.ts
  lib/utils/form-action.ts
Due: biome, typecheck

chore(sanity): upgrade next-sanity 12 → 13
  app/sitemap.ts
  bun.lock
  lib/integrations/sanity/components/disable-draft-mode.tsx
  lib/integrations/sanity/queries.ts
  package.json
Due: biome, typecheck

fix(vercel): pin framework to nextjs
  vercel.json
Due: none

ci: gate Dependabot auto-merge on Test passing
  .github/workflows/automerge-dependabot.yml
Due: none

ci: enable npm Dependabot updates
  .github/dependabot.yml
Due: none

chore: ignore plans/ and refresh dependency manifest
  .gitignore
  bun.lock
  package.json
Due: none

refactor(integrations): unify form-action IP/rate-limit handling and prune dead integration code
  app/(examples)/hubspot/page.tsx
  app/(examples)/sanity/layout.tsx
  app/(examples)/sanity/page.tsx
  app/(examples)/shopify/page.tsx
  app/api/draft-mode/enable/route.ts
  components/ui/not-configured/index.tsx
  lib/integrations/README.md
  lib/integrations/check-integration.ts
  lib/integrations/hubspot/embed/form.module.css
  lib/integrations/hubspot/fetch-form.ts
  lib/integrations/mailchimp/action.ts
  lib/integrations/mailchimp/turnstile.ts
  lib/integrations/registry.ts
  lib/integrations/sanity/client.ts
  lib/integrations/sanity/live/index.tsx
  lib/integrations/shopify/cart/actions.ts
  lib/integrations/shopify/customer/actions.ts
  lib/integrations/shopify/types.ts
  lib/utils/form-action.ts
  lib/utils/rate-limit.ts
Due: biome, typecheck

refactor(scripts): remove dead code and derive handoff cleanup from the registry
  lib/scripts/generate-component.ts
  lib/scripts/generate-page.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/prepare-handoff.ts
  lib/scripts/setup-project.ts
  lib/scripts/utils.ts
  lib/utils/fetch.ts
  lib/utils/strings.test.ts
  lib/utils/strings.ts
  lib/utils/types.d.ts
Due: biome, typecheck

fix(webgl): make fluid sim frame-rate independent, fix per-instance disposal, gate dev tooling
  lib/dev/grid/index.tsx
  lib/dev/index.tsx
  lib/dev/stats/index.ts
  lib/dev/theatre/hooks/use-theatre.ts
  lib/dev/theatre/index.tsx
  lib/dev/theatre/studio/index.tsx
  lib/webgl/components/canvas/webgl.tsx
  lib/webgl/utils/create-renderer.ts
  lib/webgl/utils/flowmaps/flowmap-sim.ts
  lib/webgl/utils/fluid/fluid-sim.ts
  lib/webgl/utils/fluid/index.tsx
  lib/webgl/utils/gpu-detection.ts
  lib/webgl/utils/program.ts
Due: biome, typecheck

refactor(components): trim client boundaries, use named subcomponents, clean up hooks
  app/(examples)/components/_components/accordion-demo.tsx
  app/(examples)/components/_components/link-demo.tsx
  app/(examples)/components/_components/marquee-demo.tsx
  app/(examples)/components/_components/tabs-demo.tsx
  app/(examples)/components/_components/tooltip-demo.tsx
  app/(examples)/components/page.tsx
  app/layout.tsx
  components/ui/alert-dialog/index.tsx
  components/ui/checkbox/index.tsx
  components/ui/form/fields/index.tsx
  components/ui/image/index.tsx
  components/ui/select/index.tsx
  components/ui/switch/index.tsx
  components/ui/toast/index.tsx
  components/ui/tooltip/index.tsx
  lib/features/index.tsx
  lib/hooks/index.ts
  lib/hooks/use-device-detection.ts
  lib/hooks/use-prefetch.ts
  lib/hooks/use-sync-external.ts
Due: biome, typecheck

refactor(env,styles): type env access, restore viewport utils, tidy CSS and sync docs
  ARCHITECTURE.md
  COMPONENTS.md
  PATTERNS.md
  app/sitemap.ts
  lib/env.ts
  lib/styles/css/global.css
  lib/styles/css/reset.css
  lib/utils/animation.ts
  lib/utils/metadata.ts
  lib/utils/viewport.ts
Due: biome, typecheck

refactor(scripts): dedup component/page generators via shared helpers
  lib/scripts/generate-component.ts
  lib/scripts/generate-page.ts
  lib/scripts/generate-shared.ts
Due: biome, typecheck

fix(scripts): honor inventory/checklist menu selections in handoff; simplify env cleanup to exact-name matching
  lib/scripts/prepare-handoff.ts
Due: biome, typecheck

refactor(scripts): remove bespoke doc-freshness linter (check-docs)
  lib/scripts/check-docs.ts
  package.json
Due: biome, typecheck

fix(scripts): complete Sanity bundle env vars so handoff keeps the read token
  lib/scripts/integration-bundles.ts
Due: biome, typecheck

fix(examples): restore 'use client' on tabs-demo
  app/(examples)/components/_components/tabs-demo.tsx
Due: biome, typecheck

ci: run next build in Test workflow to catch RSC/prerender regressions
  .github/workflows/test.yml
Due: none

ci: run build before checks so tsgo resolves generated next-env types
  .github/workflows/test.yml
Due: none

fix(sanity): emit fallback param so the route builds without Sanity env
  app/(examples)/sanity/[slug]/page.tsx
Due: biome, typecheck

ci(lighthouse): skip gracefully when VERCEL_TOKEN is missing or invalid
  .github/workflows/lighthouse-to-slack.yml
Due: none

feat(styles): add depth/line/motion tokens + reduced-motion gate
  lib/styles/css/global.css
Due: biome

feat(layout): modernize header (mobile menu + translucent backdrop) and footer
  components/layout/footer/footer.module.css
  components/layout/footer/index.tsx
  components/layout/header/header.module.css
  components/layout/header/index.tsx
Due: biome, typecheck

feat(marketing): WebGL hero + scroll-reveal motion + depth across homepage
  app/(marketing)/_sections/features/features.module.css
  app/(marketing)/_sections/features/index.tsx
  app/(marketing)/_sections/getting-started/getting-started.module.css
  app/(marketing)/_sections/getting-started/index.tsx
  app/(marketing)/_sections/hero/hero.module.css
  app/(marketing)/_sections/hero/index.tsx
  app/(marketing)/_sections/presets/index.tsx
  app/(marketing)/_sections/presets/presets.module.css
  app/(marketing)/_sections/value-props/index.tsx
  app/(marketing)/_sections/value-props/value-props.module.css
  app/page.tsx
Due: biome, typecheck

feat(examples): polish component showcase — surface cards + accent index
  app/(examples)/components/page.module.css
  app/(examples)/components/page.tsx
Due: biome, typecheck

feat(examples): bring orphan pages into the design system
  app/(examples)/r3f/page.tsx
  app/(examples)/r3f/r3f.module.css
  app/(examples)/shopify/account/account.module.css
  app/(examples)/shopify/account/page.tsx
  app/not-found.module.css
  app/not-found.tsx
  components/ui/not-configured/index.tsx
  components/ui/not-configured/not-configured.module.css
Due: biome, typecheck

fix(marketing): CSS Kodak-red hero glow, clean nav, drop WebGPU-broken gradient
  app/(marketing)/_sections/hero/hero.module.css
  app/(marketing)/_sections/hero/index.tsx
  app/page.tsx
  components/effects/animated-gradient/webgl.tsx
  components/layout/header/header.module.css
Due: biome, typecheck

feat(marketing): interactive WebGL fluid hero (cursor-reactive)
  app/(marketing)/_sections/hero/hero.module.css
  app/(marketing)/_sections/hero/index.tsx
  app/page.tsx
  lib/features/index.tsx
Due: biome, typecheck

fix(header): align nav items — chevron inline, shared left edge
  components/layout/header/header.module.css
  components/layout/header/index.tsx
Due: biome, typecheck

feat(hero): dripping-liquid WebGL gradient (developer-fluid feel)
  components/effects/animated-gradient/material.ts
  components/effects/animated-gradient/webgl.tsx
Due: biome, typecheck

feat(webgl): migrate effects to TSL NodeMaterials on WebGPURenderer
  app/(examples)/r3f/_components/box/material.tsx
  components/effects/animated-gradient/material.ts
  lib/features/index.tsx
  lib/scripts/integration-bundles.ts
  lib/webgl/utils/flowmaps/flowmap-sim.ts
  lib/webgl/utils/fluid/fluid-sim.ts
  lib/webgl/utils/noise.ts
Due: biome, typecheck

fix(next): restore revalidateTag cache-profile arg, adopt next-sanity 13
  app/(examples)/sanity/[slug]/page.tsx
  app/(examples)/sanity/page.tsx
  app/api/revalidate/route.ts
  app/layout.tsx
  lib/integrations/sanity/queries.ts
Due: biome, typecheck

Path conditions:
  biome: any of: *.{js,mjs,ts,jsx,tsx,css,scss}
  typecheck: any of: *.{ts,tsx}
