Repository darkroomengineering/satus: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: bun biome check --max-diagnostics=200 --write --unsafe {staged_files}
  stage_fixed: true

typecheck:
  run: bunx tsgo --noEmit --incremental false
  stage_fixed: false

test(styles): ratchet the APCA advisory instead of printing it forever (#330)
  lib/styles/README.md
  lib/styles/scripts/contrast-accept.ts
  lib/styles/scripts/contrast-baseline.json
  lib/styles/scripts/contrast.test.ts
  lib/styles/scripts/contrast.ts
Due: biome, typecheck

fix(image): make rendered width explicit instead of guessing 100vw (#329)
  components/README.md
  components/ui/image/README.md
  components/ui/image/index.tsx
  components/ui/sanity-image/index.tsx
  lib/integrations/shopify/cart/modal/index.tsx
Due: biome, typecheck

ci: assert the homepage keeps its static shell, and stop lying about gates
  .github/workflows/ci.yml
  .github/workflows/react-doctor.yml
  lefthook.yml
  lib/scripts/prerender-manifest.test.ts
Due: biome, typecheck

chore(deslop): ignore local storybook builds
  package.json
Due: none

test: weaken the manifest sanity check to route-count one
  lib/scripts/prerender-manifest.test.ts
Due: biome, typecheck

ci: assert the homepage keeps its static shell, and stop lying about gates (#331)
  .github/workflows/ci.yml
  .github/workflows/react-doctor.yml
  lefthook.yml
  lib/scripts/prerender-manifest.test.ts
  package.json
Due: biome, typecheck

test: cover /ai and the 404 path in e2e, pin the create-darkroom contract
  e2e/routes.e2e.ts
  lib/scripts/create-darkroom-contract.test.ts
Due: biome, typecheck

test: cover /ai and the 404 path in e2e, pin the create-darkroom contract (#332)
  e2e/routes.e2e.ts
  lib/scripts/create-darkroom-contract.test.ts
Due: biome, typecheck

test(e2e): generate route smokes from the filesystem, gate on UI changes
  .github/workflows/ci.yml
  AGENTS.md
  components/layout/header/header.module.css
  e2e/home.e2e.ts
  e2e/not-found.e2e.ts
  e2e/route-sweep.e2e.ts
Due: biome, typecheck

fix(a11y): clear the contrast failures the route sweep caught
  components/layout/header/header.module.css
  components/ui/not-configured/not-configured.module.css
Due: biome

fix(e2e): split route paths on both separators
  e2e/route-sweep.e2e.ts
Due: biome, typecheck

test(e2e): generate route smokes from the filesystem, gate on UI changes (#333)
  .github/workflows/ci.yml
  AGENTS.md
  components/layout/header/header.module.css
  components/ui/not-configured/not-configured.module.css
  e2e/home.e2e.ts
  e2e/not-found.e2e.ts
  e2e/route-sweep.e2e.ts
Due: biome, typecheck

ci(e2e-gate): fetch the base ref instead of trusting checkout
  .github/workflows/ci.yml
Due: none

ci(e2e-gate): terminate options before the base ref
  .github/workflows/ci.yml
Due: none

fix(a11y): finish the unconfigured-variant contrast pass
  components/layout/header/header.module.css
  components/ui/not-configured/not-configured.module.css
Due: biome

fix(a11y): finish the unconfigured-variant contrast pass (#335)
  components/layout/header/header.module.css
  components/ui/not-configured/not-configured.module.css
Due: biome

ci(e2e-gate): fetch the base ref instead of trusting checkout (#334)
  .github/workflows/ci.yml
Due: none

test(e2e): scope the noindex assertion to the noindex meta
  e2e/not-found.e2e.ts
Due: biome, typecheck

docs: record the stale-build trap for env-absent verification
  AGENTS.md
Due: none

test(e2e): scope the noindex assertion to the noindex meta (#336)
  e2e/not-found.e2e.ts
Due: biome, typecheck

docs: record the stale-build trap for env-absent verification (#337)
  AGENTS.md
Due: none

feat(next): graduate to Next.js 16.3.0 stable
  app/instant-nav-demo/README.md
  app/instant-nav-demo/[item]/loading.tsx
  app/instant-nav-demo/[item]/page.tsx
  app/instant-nav-demo/fast/page.tsx
  app/instant-nav-demo/page.tsx
  app/instant-nav-demo/slow/page.tsx
  bun.lock
  lib/scripts/bench-navigation.ts
  next.config.ts
  package.json
Due: biome, typecheck

docs(changelog): describe the 16.3 entry as it lands, not as it previewed
  CHANGELOG.md
Due: none

feat(next): Next.js 16.3 stable with instant navigations (#259)
  CHANGELOG.md
  app/(site)/loading.tsx
  bun.lock
  lib/scripts/bench-navigation.ts
  lib/scripts/bench-rerender.ts
  next.config.ts
  package.json
Due: biome, typecheck

docs: record catchError as the component-level error-boundary pattern (#341)
  AGENTS.md
Due: none

ci(e2e): cache .next/cache so the e2e job's build isn't always cold
  .github/workflows/ci.yml
Due: none

test(e2e): lock in instant navigation with @next/playwright's instant() (#339)
  CHANGELOG.md
  bun.lock
  e2e/instant-navigation.e2e.ts
  package.json
Due: biome, typecheck

ci(e2e): cache .next/cache so the e2e job's build isn't always cold (#343)
  .github/workflows/ci.yml
Due: none

test(e2e): lock in instant navigation with @next/playwright's instant() (#339) (#344)
  CHANGELOG.md
  bun.lock
  e2e/instant-navigation.e2e.ts
  package.json
Due: biome, typecheck

chore(deps): collapse the dual TypeScript setup to a single typescript@^7
  .github/dependabot.yml
  AGENTS.md
  CHANGELOG.md
  bun.lock
  lefthook.yml
  next.config.ts
  package.json
Due: biome, typecheck

chore(deps): collapse the dual TypeScript setup to a single typescript@^7 (#345)
  .github/dependabot.yml
  AGENTS.md
  CHANGELOG.md
  bun.lock
  lefthook.yml
  next.config.ts
  package.json
Due: biome, typecheck

docs: make the revert-the-managed-block policy part of AGENTS.md itself (#342)
  AGENTS.md
Due: none

chore(deps): track playwright-core with @playwright/test and sync the lockfile
  bun.lock
  package.json
Due: none

chore(deps): sync the lockfile
  bun.lock
Due: none

feat(seo): enumerate CMS routes in sitemap.xml and llms.txt (#319)
  CHANGELOG.md
  app/llms.txt/route.ts
  app/robots.ts
  app/sitemap.ts
  lib/seo/routes.ts
  lib/seo/site.ts
Due: biome, typecheck

feat(seo): enumerate CMS routes in sitemap.xml and llms.txt (#319) (#348)
  CHANGELOG.md
  app/llms.txt/route.ts
  app/robots.ts
  app/sitemap.ts
  lib/seo/routes.ts
  lib/seo/site.ts
Due: biome, typecheck

feat(security): compose an enforced CSP from the kept integrations (#318)
  CHANGELOG.md
  COMPONENTS.md
  lib/integrations/csp.ts
  lib/integrations/registry.ts
  next.config.ts
Due: biome, typecheck

feat(security): compose an enforced CSP from the kept integrations (#318) (#349)
  CHANGELOG.md
  COMPONENTS.md
  lib/integrations/csp.ts
  lib/integrations/registry.ts
  next.config.ts
Due: biome, typecheck

fix: land the six template-level findings from the darkroom.engineering rebuild (#317)
  .github/workflows/lighthouse-to-slack.yml
  CHANGELOG.md
  components/ui/image/image.module.css
  components/ui/image/index.tsx
  lib/scripts/check-assets.ts
  lib/styles/css/index.css
  lib/styles/scripts/utility-layering.test.ts
  package.json
  proxy.test.ts
Due: biome, typecheck

Path conditions:
  biome: any of: *.{js,mjs,ts,jsx,tsx,css,scss}
  typecheck: any of: *.{ts,tsx}
