Repository darkroomengineering/satus: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

lefthook.yml:

# Lefthook configuration for git hooks
# Cross-platform compatible (Windows, macOS, Linux)
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome:
      glob: '*.{js,mjs,ts,jsx,tsx,css,scss}'
      run: bun biome check --max-diagnostics=200 --write --unsafe {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{ts,tsx}'
      run: bunx tsgo --noEmit --incremental false
      stage_fixed: false

# NOTE: Build checks happen in CI, not pre-push (too slow for dev workflow)
# Uncomment if you want local build verification:
# pre-push:
#   commands:
#     build-check:
#       run: bun run build
#       skip:
#         - merge
#         - rebase

post-merge:
  commands:
    install-deps:
      run: bun i

chore(deps): update dependencies to latest (#255)
  .github/workflows/ci.yml
  .github/workflows/dependabot-lockfile.yml
  .github/workflows/react-doctor.yml
  bun.lock
  components/effects/gsap.tsx
  components/layout/lenis/index.tsx
  components/ui/marquee/index.tsx
  lib/dev/stats/index.ts
  lib/utils/raf.ts
  lib/webgl/components/raf/index.ts
  package.json
Due: biome, typecheck

docs(changelog): record dependency updates under [Unreleased]
  CHANGELOG.md
Due: none

docs(changelog): record dependency updates under [Unreleased] (#256)
  CHANGELOG.md
Due: none

fix(webgl): stop full-screen canvas from intercepting DOM clicks
  lib/webgl/components/canvas/webgl.tsx
Due: biome, typecheck

fix(webgl): stop full-screen canvas from intercepting DOM clicks (#257)
  lib/webgl/components/canvas/webgl.tsx
Due: biome, typecheck

feat: adopt Next.js 16.3 preview + partialPrefetching (instant navigations)
  CHANGELOG.md
  app/loading.tsx
  bun.lock
  next.config.ts
  package.json
Due: biome, typecheck

test: add minimal Playwright E2E harness (smoke + a11y)
  .gitignore
  AGENTS.md
  CHANGELOG.md
  bun.lock
  e2e/home.e2e.ts
  package.json
  playwright.config.ts
Due: biome, typecheck

fix(a11y): meet WCAG AA contrast on home page and header nav
  app/page.module.css
  components/layout/header/header.module.css
Due: biome

test(next): add instant-nav demo routes and 16.3 turbopack build flags
  CHANGELOG.md
  app/instant-nav-demo/README.md
  app/instant-nav-demo/[item]/loading.tsx
  app/instant-nav-demo/[item]/page.tsx
  app/instant-nav-demo/fast/page.tsx
  app/instant-nav-demo/page.tsx
  app/instant-nav-demo/slow/page.tsx
  next.config.ts
Due: biome, typecheck

refactor: apply reconciled nuclear-review findings
  CHANGELOG.md
  lib/integrations/hubspot/action.test.ts
  lib/integrations/hubspot/action.ts
  lib/integrations/hubspot/embed/index.tsx
  lib/integrations/hubspot/fetch-form.ts
  lib/integrations/hubspot/schema.ts
  lib/integrations/mailchimp/mailchimp-client.ts
  lib/integrations/shopify/README.md
  lib/integrations/shopify/cart/add-to-cart/index.tsx
  lib/integrations/shopify/cart/cart-store-context.ts
  lib/integrations/shopify/cart/modal/index.tsx
  lib/integrations/shopify/cart/optimistic-utils.ts
  lib/integrations/shopify/client.ts
  lib/integrations/shopify/pages.ts
  lib/integrations/shopify/revalidate.ts
  lib/integrations/shopify/types.ts
  lib/integrations/turnstile/index.ts
  lib/scripts/ast-transforms.ts
  lib/scripts/ast-transforms/add-ops.ts
  lib/scripts/ast-transforms/helpers.ts
  lib/scripts/ast-transforms/index.ts
  lib/scripts/ast-transforms/remove-ops.ts
  lib/scripts/generate-page.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/payload-source.ts
  lib/scripts/prepare-handoff.ts
  lib/scripts/satus.ts
  lib/scripts/setup-project.test.ts
  lib/scripts/setup-project.ts
  lib/webgl/components/canvas/index.tsx
  lib/webgl/hooks/use-pointer-input.ts
  lib/webgl/hooks/use-webgl-element.ts
  lib/webgl/store.ts
  lib/webgl/utils/flowmaps/flowmap-sim.ts
  lib/webgl/utils/flowmaps/index.tsx
  lib/webgl/utils/fluid/fluid-sim.ts
  lib/webgl/utils/fluid/index.tsx
Due: biome, typecheck

ci: suppress react-doctor immutability false positive on fluid uniform write
  .react-doctor/false-positives.md
  lib/webgl/utils/fluid/index.tsx
Due: biome, typecheck

refactor: apply reconciled nuclear-review findings (#260)
  .react-doctor/false-positives.md
  CHANGELOG.md
  lib/integrations/hubspot/action.test.ts
  lib/integrations/hubspot/action.ts
  lib/integrations/hubspot/embed/index.tsx
  lib/integrations/hubspot/fetch-form.ts
  lib/integrations/hubspot/schema.ts
  lib/integrations/mailchimp/mailchimp-client.ts
  lib/integrations/shopify/README.md
  lib/integrations/shopify/cart/add-to-cart/index.tsx
  lib/integrations/shopify/cart/cart-store-context.ts
  lib/integrations/shopify/cart/modal/index.tsx
  lib/integrations/shopify/cart/optimistic-utils.ts
  lib/integrations/shopify/client.ts
  lib/integrations/shopify/pages.ts
  lib/integrations/shopify/revalidate.ts
  lib/integrations/shopify/types.ts
  lib/integrations/turnstile/index.ts
  lib/scripts/ast-transforms.ts
  lib/scripts/ast-transforms/add-ops.ts
  lib/scripts/ast-transforms/helpers.ts
  lib/scripts/ast-transforms/index.ts
  lib/scripts/ast-transforms/remove-ops.ts
  lib/scripts/generate-page.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/payload-source.ts
  lib/scripts/prepare-handoff.ts
  lib/scripts/satus.ts
  lib/scripts/setup-project.test.ts
  lib/scripts/setup-project.ts
  lib/webgl/components/canvas/index.tsx
  lib/webgl/hooks/use-pointer-input.ts
  lib/webgl/hooks/use-webgl-element.ts
  lib/webgl/store.ts
  lib/webgl/utils/flowmaps/flowmap-sim.ts
  lib/webgl/utils/flowmaps/index.tsx
  lib/webgl/utils/fluid/fluid-sim.ts
  lib/webgl/utils/fluid/index.tsx
Due: biome, typecheck

test: add Playwright E2E harness + fix the a11y contrast bugs it caught (#258)
  .gitignore
  AGENTS.md
  CHANGELOG.md
  app/page.module.css
  bun.lock
  components/layout/header/header.module.css
  e2e/home.e2e.ts
  package.json
  playwright.config.ts
Due: biome, typecheck

chore(deps): upgrade to TypeScript 7.0 native compiler
  .github/workflows/ci.yml
  .vscode/settings.json
  AGENTS.md
  CHANGELOG.md
  bun.lock
  lefthook.yml
  lib/scripts/satus.e2e.test.ts
  package.json
Due: biome, typecheck

docs: add adversarial codebase audit 2026-07-08
  docs/audits/codebase-audit-2026-07-08.md
Due: none

fix(integrations): make Shopify work as documented; add Turnstile to HubSpot
  app/api/README.md
  app/api/revalidate/route.ts
  lib/integrations/hubspot/README.md
  lib/integrations/hubspot/action.ts
  lib/integrations/shopify/README.md
  lib/integrations/shopify/cart-operations.ts
  lib/integrations/shopify/cart/modal/index.tsx
  lib/integrations/shopify/client.test.ts
  lib/integrations/shopify/client.ts
  lib/integrations/shopify/collections.ts
  lib/integrations/shopify/customer/actions.ts
  lib/integrations/shopify/pages.ts
  lib/integrations/shopify/products.ts
  lib/integrations/shopify/revalidate.ts
  lib/integrations/shopify/schemas.ts
  lib/integrations/shopify/types.ts
Due: biome, typecheck

fix(scripts): honest CLI failure modes and disk-based handoff
  lib/scripts/ast-operation-types.ts
  lib/scripts/ast-transforms.test.ts
  lib/scripts/ast-transforms/index.ts
  lib/scripts/ast-transforms/remove-ops.ts
  lib/scripts/bundle-installer.ts
  lib/scripts/integration-bundles.ts
  lib/scripts/prepare-handoff.ts
  lib/scripts/satus.ts
  lib/scripts/setup-project.test.ts
  lib/scripts/setup-project.ts
  lib/scripts/templates/deployment-checklist.ts
  lib/scripts/templates/inventory.ts
  lib/scripts/templates/templates.test.ts
  lib/scripts/utils.ts
Due: biome, typecheck

fix(components): honest Image sizing, coherent form gates, unified link intent
  app/layout.tsx
  components/layout/header/index.tsx
  components/ui/form/hook.test.tsx
  components/ui/form/hook.ts
  components/ui/image/README.md
  components/ui/image/index.tsx
  components/ui/link/index.tsx
  components/ui/marquee/index.tsx
  components/ui/sanity-image/index.tsx
  lib/hooks/use-prefetch.ts
Due: biome, typecheck

fix(webgl): live theatre binding, texture lifecycle, HMR-safe runtime
  lib/dev/orchestra.ts
  lib/dev/theatre/index.tsx
  lib/utils/raf.ts
  lib/webgl/README.md
  lib/webgl/components/canvas/index.tsx
  lib/webgl/components/canvas/webgl.tsx
  lib/webgl/components/image/index.tsx
  lib/webgl/components/image/webgl.tsx
  lib/webgl/store.ts
  lib/webgl/utils/fluid/fluid-sim.ts
Due: biome, typecheck

fix(ci): un-dead the automation; make docs tell the truth
  .github/workflows/automerge-dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-lockfile.yml
  .github/workflows/react-doctor.yml
  README.md
  lib/features/README.md
  lib/hooks/README.md
  lib/integrations/README.md
  lib/integrations/sanity/README.md
  lib/integrations/sanity/sanity.config.ts
  lib/utils/README.md
  next.config.ts
  package.json
Due: biome, typecheck

docs: changelog entry + audit report corrections for the remediation
  CHANGELOG.md
  docs/audits/codebase-audit-2026-07-08.md
Due: none

fix(deps): classic typescript for Next's build API; TS7 native via alias
  AGENTS.md
  CHANGELOG.md
  bun.lock
  lefthook.yml
  package.json
Due: none

fix(ci): drop CodeQL workflow — default setup already scans
  .github/workflows/codeql.yml
  docs/audits/codebase-audit-2026-07-08.md
Due: none

chore(dev): clear generated Next types on branch checkout
  CHANGELOG.md
  lefthook.yml
Due: none

fix(ci): gate Dependabot auto-merge on PR author, not run actor
  .github/workflows/automerge-dependabot.yml
  CHANGELOG.md
Due: none

refactor(scripts): remove satus add, resolve integration requires in setup
  AGENTS.md
  CHANGELOG.md
  README.md
  app/page.tsx
  lib/scripts/payload-source.test.ts
  lib/scripts/payload-source.ts
  lib/scripts/satus.e2e.test.ts
  lib/scripts/satus.test.ts
  lib/scripts/satus.ts
  lib/scripts/setup-project.test.ts
  lib/scripts/setup-project.ts
  package.json
Due: biome, typecheck

refactor(scripts): remove satus add, resolve integration requires in setup (#277)
  AGENTS.md
  CHANGELOG.md
  README.md
  app/page.tsx
  lib/scripts/payload-source.test.ts
  lib/scripts/payload-source.ts
  lib/scripts/satus.e2e.test.ts
  lib/scripts/satus.test.ts
  lib/scripts/satus.ts
  lib/scripts/setup-project.test.ts
  lib/scripts/setup-project.ts
  package.json
Due: biome, typecheck

chore(deps): update dependencies
  bun.lock
  package.json
Due: none

chore(deps): update dependencies (#278)
  bun.lock
  package.json
Due: none

chore: weekly maintenance — dep bumps
  bun.lock
  package.json
Due: none

chore: weekly maintenance — dep bumps (#281)
  bun.lock
  package.json
Due: none

fix(deps): dedupe @sanity/client, drop duplicated visual-editing dep, keep classic typescript on 6.x
  .github/dependabot.yml
  bun.lock
  lib/integrations/sanity/live/index.tsx
  lib/scripts/integration-bundles.ts
  package.json
Due: biome, typecheck

feat(sanity): example page rework — cache-safe draft fetch, live draft events, embedded studio
  app/(examples)/sanity/_components/tutorial/index.tsx
  app/(examples)/sanity/layout.tsx
  app/(examples)/sanity/page.tsx
  app/layout.tsx
  app/studio/[[...tool]]/page.tsx
  app/studio/layout.tsx
Due: biome, typecheck

docs: add 2026-07-09 adversarial audit report
  docs/audits/codebase-audit-2026-07-09.md
Due: none

fix(sanity): guard studio config against missing projectId
  app/studio/[[...tool]]/page.tsx
  lib/integrations/sanity/sanity.config.ts
Due: biome, typecheck

fix(deps): sanity client dedupe, ts6 revert + sanity example rework (#282)
  .github/dependabot.yml
  app/(examples)/sanity/_components/tutorial/index.tsx
  app/(examples)/sanity/layout.tsx
  app/(examples)/sanity/page.tsx
  app/layout.tsx
  app/studio/[[...tool]]/page.tsx
  app/studio/layout.tsx
  bun.lock
  docs/audits/codebase-audit-2026-07-09.md
  lib/integrations/sanity/live/index.tsx
  lib/integrations/sanity/sanity.config.ts
  lib/scripts/integration-bundles.ts
  package.json
Due: biome, typecheck

fix: remediate open findings from audit issues #263–#267
  .github/workflows/ci.yml
  AGENTS.md
  ARCHITECTURE.md
  CHANGELOG.md
  app/README.md
  app/api/draft-mode/disable/route.ts
  components/README.md
  components/effects/README.md
  lib/env.ts
  lib/integrations/README.md
  lib/integrations/mailchimp/mailchimp-client.ts
  lib/integrations/shopify/cart/modal/index.tsx
  lib/integrations/shopify/pages.ts
  lib/integrations/turnstile/index.ts
  lib/scripts/prepare-handoff.ts
  lib/scripts/setup-project.test.ts
  lib/scripts/setup-project.ts
  lib/utils/fetch.test.ts
  lib/utils/fetch.ts
  lib/webgl/README.md
  lib/webgl/components/canvas/index.tsx
  lib/webgl/components/canvas/webgl.tsx
  lib/webgl/components/flowmap-provider/index.tsx
  lib/webgl/store.ts
  lib/webgl/utils/fluid/fluid-sim.ts
  lib/webgl/utils/program.ts
  next.config.ts
  package.json
Due: biome, typecheck

fix(webgl): root-canvas registry as external store, stable simTypes default
  lib/webgl/components/canvas/index.tsx
  lib/webgl/components/flowmap-provider/index.tsx
  lib/webgl/store.ts
Due: biome, typecheck

fix: remediate open findings from audit issues #263–#267 (#283)
  .github/workflows/ci.yml
  AGENTS.md
  ARCHITECTURE.md
  CHANGELOG.md
  app/README.md
  app/api/draft-mode/disable/route.ts
  components/README.md
  components/effects/README.md
  lib/env.ts
  lib/integrations/README.md
  lib/integrations/mailchimp/mailchimp-client.ts
  lib/integrations/shopify/cart/modal/index.tsx
  lib/integrations/shopify/pages.ts
  lib/integrations/turnstile/index.ts
  lib/scripts/prepare-handoff.ts
  lib/scripts/setup-project.test.ts
  lib/scripts/setup-project.ts
  lib/utils/fetch.test.ts
  lib/utils/fetch.ts
  lib/webgl/README.md
  lib/webgl/components/canvas/index.tsx
  lib/webgl/components/canvas/webgl.tsx
  lib/webgl/components/flowmap-provider/index.tsx
  lib/webgl/store.ts
  lib/webgl/utils/fluid/fluid-sim.ts
  lib/webgl/utils/program.ts
  next.config.ts
  package.json
Due: biome, typecheck
